body {
    background-color: #f6f6f2;
}

nav {
    background-color: #3880b7;
}

.img-thumbnail {
    border: 0;
}

.img {
    display: flex;
    justify-content: end;
}

footer {
    background-color: #3880b7;
}